<div class="container tasks-show-container">
  <%# タスク情報とコミットを囲む %>
  <div class="task-info-and-commit-log-wrapper">
    <%# タスクの情報を表示 %>
    <%= render '/tasks/task_info' %>
    <%# コミット部分 %>
    <div class="commit-log-wrapper shadow-sm">
      <div class="commit-log-title-and-button-wrapper">
        <h4 class="commit-log-title">Commit</h4>
        <%# コミットフォーム %>
        <%= render '/commits/new_commit_form' %>
      </div>
      <%# コミットリスト %>
      <ul class="list-group">
        <%= render partial: '/commits/commit', collection: @commits %>
      </ul>
    </div>
  </div>
  <%# /タスク情報とコミットを囲む %>


  <div class="reviewer-and-message-wrapper">
    <%#レビュアーー情報を表示 %>
    <div class="reviewer-wrapper">
      <h4>Reviewer</h4>
    </div>

    <%# メッセージ部分%>
    <div class="message-wrapper">
      <h4 class="message-form-title">Messages</h4>
      <%# 埋め込み先リスト %>
      <div>
        <ul id="message-list">
          <% @messages.each do |message| %>
            <li class="message-over-flow-wrap"><%= "#{message.text} by #{message.user.nickname}" %></li>
          <% end %>
        </ul>
      </div>
      <%# /埋め込み先リスト %>
      <%# メッセージフォーム %>
      <%= form_with model: [@task, @message], id: "message-form" do |f| %>
        <%= f.text_area :text, style: "width: 100%", placeholder: "レビューや質問はこちらから！" %>
        <%= f.submit id: "message-submit" %>
      <% end %>
    </div>
  </div>

  <%# タスクのdestroyモーダル %>
  <%= render partial: '/shared/destroy_modal', locals: { id: "taskDestroyModal", target: "タスク", url: task_path(@task) } %>

</div>