<div class="container">
  <%# タスク情報とコミットを囲む %>
  <div class="row">
    <div class="task-info-and-commit-log-wrapper col-md-8">
      <%# タスクの情報を表示 %>
      <%= render '/tasks/task_info' %>
      <%# コミット部分 %>
      <div class="commit-log-wrapper shadow">
        <div class="commit-log-title-and-button-wrapper">
          <h4 class="commit-log-title">Commit</h4>
          <%# コミットフォーム %>
          <% if @task.user_id == current_user.id %>
            <%= render '/commits/new_commit_form' %>
          <% end %>
        </div>
        <%# コミットリスト %>
        <ul class="list-group">
          <%= render partial: '/commits/commit', collection: @commits %>
        </ul>
      </div>
    </div>
    <%# /タスク情報とコミットを囲む %>

    <div class="reviewer-and-message-wrapper col-md-4">
      <%#レビュアーー情報を表示 %>
      <div class="reviewer-wrapper">
        <h4>Reviewer</h4>
        <ul class="reviewer-list">
          <% @permissions.each do |permission| %>
            <li class="each-reviewer">
              <%= link_to task_permission_path(@task, permission), class: "reviewer-delete-link", method: :delete do %>
                <%= permission.user.nickname %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if @task.user_id == current_user.id %>
          <%# ユーザー追加フォーム出現ボタン %>
          <button class="add-reviewer-btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseUserIdForm" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-user-plus"></i> 追加
          </button>
          <div class="collapse" id="collapseUserIdForm">
            <div class="search-user-id-form">
              <%= form_with model: [@task, @permission], local: true do |f| %>
                <%= f.number_field :user_id, min: 1, placeholder: "ユーザーID", class: "form-control w-75 d-inline-block" %>
                <%= f.submit "許可", class: "btn btn-secondary btn-sm d-inline-block" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%# メッセージ部分%>
      <div class="message-wrapper">
        <h4 class="message-form-title">Messages</h4>
        <%# 埋め込み先リスト %>
        <div>
          <ul class="message-lists" id="message-lists">
            <% @messages.each do |message| %>
              <li class="each-message-wrapper" style="font-size: 15px;">
                <p class="each-message-time"><%= l message.created_at %></p>
                <p class="each-message-sender"><%= "by (#{message.user.nickname})" %></p>
                <%= simple_format(message.text) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%# /埋め込み先リスト %>
        <%# メッセージフォーム %>
        <%= form_with model: [@task, @message], local: true do |f| %>
          <%= f.text_area :text, class: "form-control", style: "height: 60px; margin-bottom: 10px;", placeholder: "レビューや質問はこちらから！" %>
          <%= f.submit "コメント", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
    <%# タスクのdestroyモーダル %>
    <%= render partial: '/shared/destroy_modal', locals: { id: "taskDestroyModal", target: "タスク", url: task_path(@task) } %>
  </div>
</div>