<div class="container">
  <div class="task-info-wrapper">
    <div class="each-task-info">
      <h2><%= @task.title %></h2>
      <h4>Purpose: <%= @task.purpose %></h4>
      <h4>Goal: <%= @task.goal %></h4>
    </div>
    <div class="task-title-buttons">
      <%= link_to edit_task_path(@task), class: "btn btn-primary" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#destroyModal">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <%# destroyモーダル %>
  <%= render partial: 'task_destroy', locals: { task: @task } %>
  <%#/ モーダル %>
</div>