<div class="container"> 
  <div class="row">
    <%# タスクタイトル＆コミット %>
    <div class="col-lg-8 mb-5">
      <%# タスクタイトル＆ボタン %>
      <div class="d-flex px-2 mb-4" style="justify-content: space-between;">
        <h3 class="margin-reset padding-reset col-10 over-flow-wrap"><%= @task.title %></h3>
        <%# タイトル横のボタン %>
        <% if @task.user_id == current_user.id %>  
          <div class="task-btn">
            <%= link_to edit_task_path(@task), class: "btn btn-primary btn-sm" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#taskDestroyModal">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        <% end %>
      </div>
      <%# コミット部分 %>
      <div class="px-2 py-2 mt-3 shadow rounded">
        <h4 class="margin-reset">Commit</h4>
        <%# コミットフォーム %>
        <% if @task.user_id == current_user.id %>
          <%= render partial: '/shared/error_messages', locals: { model: @commit } %>
          <%= render '/commits/new_commit_form' %>
        <% end %>
        <%# コミットリスト %>
        <ul class="list-group">
          <%= render partial: '/commits/commit', collection: @commits %>
        </ul>
      </div>
    </div>
    <%# /タスクタイトル＆コミット %>
    <%# 目的・ゴール/レビュアー/メッセージ %>
    <div class="sub-items-wrapper col-lg-4 mb-2">
      <%# タスクの目的 %>
      <div class="mb-5">
        <h5 class="border-b-dg">Purpose</h5>
        <div class="padding-reset margin-reset over-flow-wrap fs-15">
          <%= simple_format(h(@task.purpose)) %>
        </div>
      </div>
      <%# タスクのゴール %>
      <div class="mb-5">
        <h5 class="border-b-dg">Goal</h5>
        <div class="padding-reset margin-reset over-flow-wrap fs-15">
          <%= simple_format(h(@task.goal)) %>
        </div>
      </div>
      <%# レビュアーー情報を表示 %>
      <div class="mb-5">
        <h5 class="border-b-dg">Reviewer</h5>
        <ul class="mb-1 pl-0 list-unstyled">
          <% @permissions.each do |permission| %>
            <li class="each-reviewer">
              <%= link_to task_permission_path(@task, permission), class: "text-reset fs-15", method: :delete do %>
                <%= permission.user.nickname %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if @task.user_id == current_user.id %>
          <%# ユーザー追加フォーム出現ボタン %>
          <button class="btn btn-secondary btn-sm border-0 mb-2" type="button" data-toggle="collapse" data-target="#collapseUserIdForm" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-user-plus"></i> 追加
          </button>
          <div class="collapse" id="collapseUserIdForm">
            <div class="search-user-id-form">
              <%= form_with model: [@task, @permission], local: true do |f| %>
                <%= f.number_field :user_id, min: 1, placeholder: "ユーザーID", class: "form-control w-75 d-inline-block" %>
                <%= f.submit "許可", class: "btn btn-secondary btn-sm d-inline-block" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%# /レビュアーー情報を表示 %>
      <%# メッセージ部分%>
      <div class="mb-5">
        <h5 class="border-b-dg">Messages</h5>
        <%# メッセージリスト %>
        <div>
          <ul class="padding-reset list-unstyled over-flow-wrap">
            <% @messages.each do |message| %>
              <li class="each-message-wrapper fs-15">
                <p class="each-message-info"><%= l message.created_at %></p>
                <p class="each-message-info"><%= "by (#{message.user.nickname})" %></p>
                <%= simple_format(h(message.text)) %>
              </li>
            <% end %>
          </ul>
        </div>
        <%# /メッセージリスト %>
        <%# メッセージフォーム %>
        <%= form_with model: [@task, @message], local: true do |f| %>
          <%= f.text_area :text, class: "form-control", style: "height: 60px; margin-bottom: 10px;", placeholder: "レビューや質問はこちらから！" %>
          <%= f.submit "コメント", class: "btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
    <%# 目的・ゴール/レビュアー/メッセージ %>
    <%# タスクのdestroyモーダル %>
    <%= render partial: '/shared/destroy_modal', locals: { id: "taskDestroyModal", target: "タスク", url: task_path(@task) } %>
  </div>
</div>