<header class="navbar navbar-expand-md navbar-dark" style="height: 60px;">
  <div class="container">
    <div class="header-contents">
      <div class="header-title">
        <%= link_to "TasQ", root_path, class: "navbar-brand mr-0 pl-2 py-0", style: "font-size: 1.8rem; "%>
      </div>
      <div class="header-buttons">
        <% if user_signed_in? %>
          <div class="btn-group">
            <button type="button" class="btn btn-light header-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> <%= current_user.nickname %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <p class="dropdown-item mb-0">
                ユーザーID : <%= current_user.id %>
              </p>
              <div class="dropdown-divider"></div>
              <%= link_to user_profile_path(current_user), class: "dropdown-item" do %>
                <i class="fas fa-user-circle"></i> マイページ
              <% end %>
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="fas fa-user-edit"></i> アカウント情報編集
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-info" do %>
            <i class="fas fa-sign-in-alt"></i> ゲストログイン
          <% end %>
          <%= link_to new_user_session_path, class: "btn btn-light" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
          <%= link_to new_user_registration_path, class: "btn btn-light" do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</header>